In [7]:
import pandas as pd

# Load the employee data
def load_data(file_path):
    try:
        return pd.read_csv(file_path)
    except Exception as e:
        print(f"Error: {e}")
        return None

In [8]:
# Greet an employee by their first name
def greet_employee(employee_id, df):
    employee = df[df['EID'] == employee_id]
    if not employee.empty:
        name = employee['Employee Name'].values[0]
        first_name = name.split()[0]
        gender = employee['Gender'].values[0]
        title = "Mr" if gender == "Male" else "Ms"
        return f"Hello, {title} {first_name}"
    return "Employee not found."

In [9]:
# Calculate average salary by department
def average_salary_by_department(df):
    return df.groupby('Department')['Salary'].mean()

In [10]:
# Display employee details
def display_employee_details(employee_id, df):
    employee = df[df['EID'] == employee_id]
    if not employee.empty:
        name = employee['Employee Name'].values[0]
        doj = employee['Date of Joining'].values[0]
        department = employee['Department'].values[0]
        return f"{name} | {doj} | {department}"
    return "Employee not found."

In [11]:
# Sort employees by date of joining
def sort_employees_by_doj(df):
    df['Date of Joining'] = pd.to_datetime(df['Date of Joining'], format='%d-%m-%Y')
    return df.sort_values(by='Date of Joining')

In [12]:
# Example usage
file_path = r"C:\\Users\\varun\\Downloads\\employee (1).csv"  # Use raw string for Windows file paths
employee_df = load_data(file_path)

In [13]:
if employee_df is not None:
    print(greet_employee("E123D", employee_df))
    print(average_salary_by_department(employee_df))
    print(display_employee_details("E123D", employee_df))
    sorted_employees = sort_employees_by_doj(employee_df)
    print(sorted_employees)

Hello, Ms Nitin
Department
Engineering     650000.0
IT             1200000.0
Products       2075000.0
Research       1350000.0
Semantics      1200000.0
Name: Salary, dtype: float64
Nitin Bhole | 01-11-2016 | Products
      EID      Employee Name Gender   Salary Date of Joining   Department
12  E620Y     Kumar Abhishek      M  1100000      2014-12-01    Semantics
7   E184A  Kushmakar Krishna      M  1100000      2015-01-01     Products
4   E098Z    Rajendra Prabhu      M  1000000      2015-11-11    Semantics
8   E104S     Amarnath Patil      M   600000      2015-11-29  Engineering
3   E123B      Pankaj Bansal      M   900000      2015-12-01     Research
1   E876G     Mayur Kulkarni      M  1200000      2016-06-03    Semantics
2   E798G      Anurag Pandey      M  1200000      2016-07-04           IT
0   E123D        Nitin Bhole      M  1900000      2016-11-01     Products
5   E294M     Sumanth Mishra      M  1800000      2017-09-04     Research
6   E972L          Sai Bodha      M  1100000      2017-11-11    Semantics
10  E983Q     Chakshu Bansal      F   300000      2017-12-04     Products
9   E093V   Shashidhar Reddy      M   700000      2018-11-29  Engineering
13  E109U     Sanket Gibbidi      M  5000000      2019-01-11     Products
11  E092E       Mitali Gupta      F  1600000      2019-05-02    Semantics